<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>Containers needed:</strong>
  <%= @job.containers_needed %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @job.boat_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
