<% if current_user %>
<h3>Welcome, user #<%= current_user.id %></h3>
  
    <table class="table">
    <tr><td>Jobs: </td>
        <td><%= link_to 'List', jobs_path, class: "btn btn-info" %></td> 
        <td><%= link_to "Add", new_job_path, class: "btn btn-success" %></td>
    </tr>
    <tr><td>Boats:</td>
        <td><%= link_to 'List', boats_path, class: "btn btn-info" %></td>
        <td><%= link_to "Add", new_boat_path, class: "btn btn-success" %></td>
    </tr>
    <tr><td>Schedule:</td>
        <td><%= link_to 'List', schedules_path, class: "btn btn-info" %></td>
        <td><%= link_to "Add", new_schedule_path, class: "btn btn-success" %></td>
    </tr>
    </table>
    


<div id="boats-owned">
    <h4>Boats Owned</h4>
    <% boats = current_user.boats %>
    <% boats.each do |b| %>
        <div id="boats-grid">
            <div class="">
                <strong>Name: </strong><%= b.name %>
            </div>
            <div class="">
                <strong>Location: </strong><%= b.location %>
            </div>
            <div class="">
                <strong>No. of Containers: </strong><%= b.max_containers %>
            </div>
        </div>
    <% end %>
</div>
<% else %>  
    <p><%= image_tag("ship1.jpg", alt: "shipping dock") %></p>
<% end %>  

  