<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :origin %>
    <%= form.text_field :origin, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :boat_id %>
    <%= form.collection_select(:boat_id, Boat.all, :id, :name, {}, {:class => "form-control"}) %>  
  </div>

  <div class="field form-group">
    <%= form.label :job_id %>
    <%= form.collection_select(:job_id, Job.all, :id, :title, {}, {:class => "form-control"}) %>  
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
