<p id="notice"><%= notice %></p>

<h1>Schedules</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Boat</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.date %></td>
        <td><%= schedule.origin %></td>
        <td><%= schedule.destination %></td>
        <td><%= schedule.boat_id %></td>
        <td><%= schedule.job_id %></td>
        <td><%= link_to 'Details', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Delete', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
