<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Max containers:</strong>
  <%= @boat.max_containers %>
</p>

<p>
  <strong>Location:</strong>
  <%= @boat.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boat.description %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @boat.contact %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
